<app-main-toolbar [name]="character.name"></app-main-toolbar>


<mat-tab-group color="primary" mat-stretch-tabs>
    <mat-tab label="Overview">
        <app-overview></app-overview>
    </mat-tab>
    <mat-tab label="Details">
        <app-details></app-details>
    </mat-tab>
    <mat-tab label="Inventory">
        
    </mat-tab>
    <mat-tab label="Spells">
        
    </mat-tab>
    <mat-tab label="Character">

    </mat-tab>
    <mat-tab label="Journal">
        
    </mat-tab>
</mat-tab-group>
